@import 'variable';

.content {
  background: $background-light;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  //height:
}

.rightside-container {
  position: relative;
  display: flex;
  flex-direction: column;
  //flex-basis: 360px;
  flex-shrink: 0;
  min-width: 1px;
  z-index: 201;
  box-sizing: content-box;
  visibility: visible;
  //height: -webkit-fill-available - $header_height;
  border-left: $border_width solid $border;

}

@media (min-width: 668px) {
  .rightside-container {
      flex-basis: 360px;
  }
}

@media (max-width: 667px) {
  .rightside-container {
      flex-basis: 100vw;
  }
  .messagelist-history-container {
    display: none; 
  }

  .market-list{
    display: none !important; 
  }

  // .messagelist-history-container {
  //   display:none;
  // }
}

// @media only screen and (max-width: 667px), only screen and (max-device-width: 667px) {
//   .rightside-container {
//       flex-basis: 100vw !important;
//   }
// }

// .messagelist-container {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   min-width: 1px;
// }


.input-board-container {
  position: relative;
  //display: flex;
  flex-direction: row;
  //flex-basis: 212px;
  flex-shrink: 0;
  min-width: 1px;
  //max-width: 260px;
  z-index: 201;
  box-sizing: content-box;
  visibility: visible;
}

.messagelist-history-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 1px;
}
