@import 'variable';

.right-side-bar {
  width: 210px;
  height: auto;
  float: right;
  //border-left: $border_width solid $border;
}

.right-side-bar_direct {
  width: 210px;
  height: auto;
  float: right;
  //border-left: $border_width solid $border;
}