// colors
$white : white;
$black: #000;
$title_color: #d0d2d9;
$room_item_color: #9da1b3;
$selected_item_color: #e2e2e2;

$background-dark: #272d34;
$background-light: #33373d;
$border: #4c515f;

$hover_selected_channel: #24292e;
$hover_item_color: #35393f;
$hover_item_border: #b37bff;

$members_title_color: #cccccc;
$normal_text_color: #9da1b3;
$market_back_color: #54575c;

// border
$border_width: 1px;

// size
$opponent_avatar: 40px !important;
$header_height: 57px;
$input_board_height: 63px;
$whole_height: 100vh;